html,body,.container-wrapper {
    padding : 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: white;
}

.animate {
    -webkit-animation: expand 2500s;
}

@-webkit-keyframes expand {
    0%{
        -webkit-transform: scale(0,0);
    }

    100%{
        -webkit-transform: scale(100.0,100.0);
        display: none;
    }
}

.main-heading{
    font-size:8em;
    text-align: center;
    z-index: 20;
    position: relative;
    display: block;
    margin-top: 5%;
    height:200px;
    font-family: 'Noto Sans', sans-serif;
}

#welcome-msg {
    display: block;
    z-index: 20;
    position: relative;
    text-align: center;
    font-size: 4em;
    font-family: 'Noto Sans', sans-serif;
}
