html,body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: #98d1d9;
    -webkit-font-smoothing: antialiased;
}

.colors {
    animation: color-animation 2s linear alternate;
}

/*
 152,209,217
140,193,205
128,177,194
116,161,182
104,145,170
92,130,159
79,114,147
67,98,135
55,82,123
43,66,112
31,50,100


 */

@keyframes color-animation {
    0% {
        background: rgb(152,209,217);
    }
    10%{
        background: rgb(140,193,205);
    }
    20%{
        background: rgb(128,177,194);
    }
    30%{
        background: rgb(116,161,182);
    }
    40%{
        background: rgb(104,145,170);
    }
    50%{
        background: rgb(92,130,159);
    }
    60%{
        background: rgb(79,114,147);
    }
    70%{
        background: rgb(67,98,135);
    }
    80%{
        background: rgb(55,82,123);
    }
    90%{
        background: rgb(43,66,112);
    }
    100%{
        background: rgb(31,50,100);
    }

}

.colors-reverse {
    animation: colors-reverse-animation 2s linear alternate;
}

@keyframes colors-reverse-animation {
    0% {
        background: rgb(31,50,100);
    }
    10%{
        background: rgb(43,66,112);
    }
    20%{
        background: rgb(55,82,123);
    }
    30%{
        background: rgb(67,98,135);
    }
    40%{
        background: rgb(79,114,147);
    }
    50%{
        background: rgb(92,130,159);
    }
    60%{
        background: rgb(104,145,170);
    }
    70%{
        background: rgb(116,161,182);
    }
    80%{
        background: rgb(128,177,194);
    }
    90%{
        background: rgb(140,193,205);
    }
    100% {
        background: rgb(152,209,217);
    }

}


.initial-div {
    transform: scale(0);
}

.position-div{
    position: absolute;
    border-radius: 50%;
    display: none;
}

.section {
    overflow-y: hidden;
}

#circle-layer {
    overflow-y: hidden;
}

.animate {
    -webkit-animation: expand 20s;
}

@-webkit-keyframes expand {
    0%{
        -webkit-transform: scale(0,0);
    }

    100%{
        -webkit-transform: scale(1,1);
    }
}

.main-heading{
    text-align:left;
    z-index: 20;
    position: relative;
    display: block;
    height:228px;
    width:644px;
    font-family: Graphik, Roboto;
    font-size: 10em;
    font-weight: 600;
    letter-spacing: 0.2px;
    color: #ffffff;
    top: 23%;
    left: 8%;
}

#welcome-msg {
    display: block;
    z-index: 20;
    position: relative;
    text-align: left;
    font-size: 4em;
    font-family: Graphik,Roboto;
    color: #ffffff;
    height: 198px;
    width: 1138px;
    font-weight: 600;
    top: 24%;
    left: 8%;
}

.button_container {
    position: absolute;
    top: 5%;
    left: 3%;
    height: 27px;
    width: 35px;
    cursor: pointer;
    z-index: 100;
    -webkit-transition: opacity .25s ease;
    transition: opacity .25s ease;
}

.button_container:hover {
    opacity: .7;
}
.button_container.active .top {
    -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
    transform: translateY(11px) translateX(0) rotate(45deg);
    background: #FFF;
}
.button_container.active .middle {
    opacity: 0;
    background: #FFF;
}
.button_container.active .bottom {
    -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
    transform: translateY(-11px) translateX(0) rotate(-45deg);
    background: #FFF;
}
.button_container span {
    background: #ffffff;
    border: none;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
    cursor: pointer;
    border-radius: 100px;
}
.button_container span:nth-of-type(2) {
    top: 11px;
}
.button_container span:nth-of-type(3) {
    top: 22px;
}

.overlay {
    position: absolute;
    background: #11256c;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .35s, visibility .35s, height .35s;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    z-index: 50;
}
.overlay.open {
    opacity: 0.95;
    visibility: visible;
    height: 100%;
}
.overlay.open li {
    -webkit-animation: fadeInLeft .5s ease forwards;
    animation: fadeInLeft .5s ease forwards;
    -webkit-animation-delay: .35s;
    animation-delay: .35s;
}
.overlay.open li:nth-of-type(2) {
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
}
.overlay.open li:nth-of-type(3) {
    -webkit-animation-delay: .45s;
    animation-delay: .45s;
}
.overlay.open li:nth-of-type(4) {
    -webkit-animation-delay: .50s;
    animation-delay: .50s;
}
.overlay nav {
    position: relative;
    height: 75%;
    top: 50%;
    right: 6%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 3.1em;
    font-family: Graphik, Roboto;
    letter-spacing: 1px;
    text-align: right;
    font-weight: 600;
}
.overlay ul {
    list-style: none;
    padding: 0;
    display: inline-block;
    position: relative;
    height: 100%;
    right: 3.5%;
    text-align: left;
    width: 85%;
}

.overlay ul li {
    display: block;
    line-height: 2;
    min-height: 16px;
    position: relative;
    opacity: 0;
}

.overlay ul li a {
    display: block;
    position: relative;
    color: #FFF;
    overflow: hidden;
    text-decoration: none;
    font-weight: 600;
    opacity: 0.5;
    font-size: 1.2em;

    -webkit-animation: remove-hover-animation 0.2s ease-in forwards;
    -o-animation:  remove-hover-animation 0.2s ease-in forwards;
    -moz-animation: remove-hover-animation 0.2s ease-in forwards;
    -ms-animation: remove-hover-animation 0.2s ease-in forwards;
    animation: remove-hover-animation 0.2s ease-in forwards;
}


@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        right: 20%;
    }
    100% {
        opacity: 1;
        right: 0;
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        right: 20%;
    }
    100% {
        opacity: 1;
        right: 0;
    }
}

/*.overlay ul li a:hover, .overlay ul li a:focus, .overlay ul li a:active {
    text-decoration: line-through;
    font-size: 1.5em;
}
*/

.overlay ul li a:hover, .overlay ul li a:focus, .overlay ul li a:active {
    -webkit-animation: hover-animation 0.2s ease-out forwards;
    -o-animation:  hover-animation 0.2s ease-out forwards;
    -moz-animation: hover-animation 0.2s ease-out forwards;
    -ms-animation:hover-animation 0.2s ease-out forwards;
    animation:  hover-animation 0.2s ease-out forwards;
}

@keyframes hover-animation {
    0% {
        font-size: 1.2em;
        /*text-decoration: none;*/
        opacity: 0.5;
    }

    100% {
        font-size: 1.5em;
        /*text-decoration: line-through;*/
        opacity: 1;
    }
}

@keyframes remove-hover-animation {
    0% {
        font-size: 1.5em;
        /*text-decoration: none;*/
        opacity: 1;
    }

    100% {
        font-size: 1.2em;
        /*text-decoration: line-through;*/
        opacity: 0.5;
    }
}

.come-in {
    -ms-transform:translateY(85px);
    -moz-transform:translateY(85px);
    -o-transform:translateY(85px);
    -webkit-transform:translateY(85px);
    transform:translateY(85px);

    -webkit-animation:come-in 0.9s ease-out forwards;
    -ms-animation:come-in 0.9s ease-out forwards;
    -o-animation:come-in 0.9s ease-out forwards;
    -moz-animation:come-in 0.9s ease-out forwards;
    animation:come-in 0.9s ease-out forwards;

    opacity: 0;
}

@-webkit-keyframes come-in {
    to {
        -webkit-transform:translateY(0);
        transform:translateY(0);
        opacity: 1;
    }
}

@-o-keyframes come-in {
    to {
        -o-transform:translateY(0);
        transform:translateY(0);
        opacity: 1;
    }
}

@-moz-keyframes come-in {
    to {
        -moz-transform:translateY(0);
        transform:translateY(0);
        opacity: 1;
    }
}

@-ms-keyframes come-in {
    to {
        -ms-transform:translateY(0);
        transform:translateY(0);
        opacity: 1;
    }
}


@keyframes come-in{
    to{
        transform:translateY(0);
        opacity: 1;
    }
}


#section2 h1, #section2 h3, #section2 p, #section3 h1,#section4 h1, #section5 h1,#section5 h3, #section5 p {
    position: relative;
    z-index: 20;
    display: block;
    text-align: left;
    top: 5%;
    left: 8%;
    color: #FFFFFF;
}

#section2 h1, #section2 h3, #section2 p{
    opacity: 0;
    margin-left: 0.5%;
}

#section2 h1 {
    font-size: 8em;
    font-family: Graphik,Roboto;
    font-weight: 600;
    margin-top: 0;
}

#section2 h3 {
    font-size: 3.1em;
    font-family: Graphik,Roboto;
    font-weight: 600;
    top: 0;
}

#section2 p {
    font-family: Graphik-Regular, Roboto;
    font-size: 1.9em;
    margin-top: 1%;
    font-weight: normal;
    line-height: 1.66666667em;
}

#section5{
    background-color: #1f3264;
}

#section5 h1, #section4 h1, #section3 h1 {
    margin: 0;
    top: 3.5%;
    font-family: Graphik, Roboto;
    font-weight: 600;
}


.left {
    float: left;
    width: 49%;
    opacity: 0;
}

.right {
    float: right;
    width: 51%;
}

.animateRightSlide {
    animation: slideRightEase 0.85s ease-out forwards ;
}

@keyframes slideRightEase {
    0% {
        opacity: 0;
        transform: translateX(30%);
    }
    100% {
        opacity: 1;
        transform: translateX(5%);
    }

}

.right-large {
    float: right;
    width: 90%;
    opacity: 0;
}

.animateLeftSlide {
    animation: slideLeftEase 0.85s ease-out forwards ;
}

@keyframes slideLeftEase {
    0% {
        opacity: 0;
        transform: translateX(-20%);
    }
    100% {
        opacity: 1;
        transform: translateX(5%);
    }

}

.left-small {
    float: left;
    width: 10%;
}

.group:after {
    content:"";
    display: table;
    clear: both;
}

#section5 h3 {
    font-family: Graphik, Roboto;
    color: white;
    font-size: 6em;
    margin: 29% 0 7%;
}

#section5 img {
    position: relative;
    z-index: 20;
}

.smiley {
    height: 180px;
    width: auto;
    margin: 0 22%;
}

#section5 p {
    font-family: Graphik-Regular, Roboto;
    color: white;
    font-size: 2em;
    margin: 15% auto;
    line-height: 1.55em;
}

.social-img {
    height: 4%;
    width: auto;
    margin: 0 63px 0 0;
}

.svg-size {
    height: 53px;
}

.twitter-img {
    margin-left: 8%;
}

.rectangle {
    width: 12px;
    height: 600px;
    border-radius: 100px;
    background-color: #ffffff;
    margin-top: 50%;
}

.bubbles {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    z-index: 0;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.bubbles li {
    position: absolute;
    list-style: none;
    display: block;
    background-color: #11256c;
    border-radius: 50%;
    bottom: -600px;
    -webkit-animation: square 20s infinite;
    animation: square 20s infinite;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}

.bubbles li:nth-child(1) {
    width: 500px;
    height: 500px;
    left: 2%;
}

.bubbles li:nth-child(2) {
    width: 100px;
    height: 100px;
    left: 60%;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
    -webkit-animation-duration: 13s;
    animation-duration: 13s;
}

.bubbles li:nth-child(3) {
    width: 200px;
    height: 200px;
    left: 30%;
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
    -webkit-animation-duration: 12s;
    animation-duration: 12s;
}

.bubbles li:nth-child(4) {
    width: 100px;
    height: 100px;
    left: 60%;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
    -webkit-animation-duration: 13s;
    animation-duration: 13s;
}


.bubbles li:nth-child(5) {
    width: 200px;
    height: 200px;
    left: 30%;
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
    -webkit-animation-duration: 12s;
    animation-duration: 12s;
}


@-webkit-keyframes square {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-1700px);
        transform: translateY(-1700px);
    }
}

@keyframes square {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-1700px);
        transform: translateY(-1700px);
    }
}


@media only screen and (-webkit-min-device-pixel-ratio: 1.25),
only screen and ( min-device-pixel-ratio: 1.25),
only screen and ( min-resolution: 200dpi),
only screen and ( min-resolution: 1.25dppx){

    html,body{
        -webkit-font-smoothing: subpixel-antialiased;
    }
}
