html,body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: #24ccdf;
}

/*#fullpage {
    -webkit-transform: none !important;
    transform: none !important;
}*/

.initial-div {
    width: 1000px;
    height: 1000px;
    transform: scale(0);
}

.position-div{
    position: absolute;
    border-radius: 50%;
    display: none;
}

.animate {
    -webkit-animation: expand 2500s;
}

@-webkit-keyframes expand {
    0%{
        -webkit-transform: scale(0,0);
    }

    100%{
        -webkit-transform: scale(100.0,100.0);
        display: none;
    }
}

.main-heading{
    text-align:left;
    z-index: 20;
    position: relative;
    display: block;
    height:228px;
    width:644px;
    font-family: Graphik, Roboto;
    font-size: 10em;
    font-weight: 600;
    letter-spacing: 0.2px;
    color: #ffffff;
    top: 23%;
    left: 8%;
}

#welcome-msg {
    display: block;
    z-index: 20;
    position: relative;
    text-align: left;
    font-size: 4em;
    font-family: Graphik,Roboto;
    color: #ffffff;
    height: 198px;
    width: 1138px;
    font-weight: 600;
    top: 24%;
    left: 8%;
}

.button_container {
    position: absolute;
    top: 5%;
    left: 3%;
    height: 27px;
    width: 35px;
    cursor: pointer;
    z-index: 100;
    -webkit-transition: opacity .25s ease;
    transition: opacity .25s ease;
}

.button_container:hover {
    opacity: .7;
}
.button_container.active .top {
    -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
    transform: translateY(11px) translateX(0) rotate(45deg);
    background: #FFF;
}
.button_container.active .middle {
    opacity: 0;
    background: #FFF;
}
.button_container.active .bottom {
    -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
    transform: translateY(-11px) translateX(0) rotate(-45deg);
    background: #FFF;
}
.button_container span {
    background: #ffffff;
    border: none;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
    cursor: pointer;
    border-radius: 100px;
}
.button_container span:nth-of-type(2) {
    top: 11px;
}
.button_container span:nth-of-type(3) {
    top: 22px;
}

.overlay {
    position: absolute;
    background: #11256c;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .35s, visibility .35s, height .35s;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    z-index: 50;
}
.overlay.open {
    opacity: 0.95;
    visibility: visible;
    height: 100%;
}
.overlay.open li {
    -webkit-animation: fadeInLeft .5s ease forwards;
    animation: fadeInLeft .5s ease forwards;
    -webkit-animation-delay: .35s;
    animation-delay: .35s;
}
.overlay.open li:nth-of-type(2) {
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
}
.overlay.open li:nth-of-type(3) {
    -webkit-animation-delay: .45s;
    animation-delay: .45s;
}
.overlay.open li:nth-of-type(4) {
    -webkit-animation-delay: .50s;
    animation-delay: .50s;
}
.overlay nav {
    position: relative;
    height: 75%;
    top: 50%;
    right: 6%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 2.2em;
    font-family: Graphik, Roboto;
    letter-spacing: 5px;
    text-align: right;
    font-weight: 600;
}
.overlay ul {
    list-style: none;
    padding: 0;
    margin: 3% auto;
    display: inline-block;
    position: relative;
    height: 100%;
    right: 3.5%;
    text-align: left;
    width: 85%;
}

.overlay ul li {
    display: block;
    line-height: 2;
    min-height: 16px;
    position: relative;
    opacity: 0;
    margin: 1.5% auto;
}

.overlay ul li a {
    display: block;
    position: relative;
    color: #FFF;
    overflow: hidden;
    text-decoration: none;
    font-weight: 600;
}


@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        right: 20%;
    }
    100% {
        opacity: 1;
        right: 0;
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        right: 20%;
    }
    100% {
        opacity: 1;
        right: 0;
    }
}

/*.overlay ul li a:hover, .overlay ul li a:focus, .overlay ul li a:active {
    text-decoration: line-through;
    font-size: 1.5em;
}
*/
.overlay ul li a:hover, .overlay ul li a:focus, .overlay ul li a:active {
    -webkit-animation: space-up 0.2s ease-out forwards;
    -o-animation:  space-up 0.2s ease-out forwards;
    -moz-animation: space-up 0.2s ease-out forwards;
    -ms-animation:space-up 0.2s ease-out forwards;
    animation:  space-up 0.2s ease-out forwards;
}


@keyframes space-up {
    0% {
        font-size: 1.2em;
        text-decoration: none;
    }

    100% {
        font-size: 1.5em;
        text-decoration: line-through;
    }

}

.come-in {
    -ms-transform:translateY(85px);
    -moz-transform:translateY(85px);
    -o-transform:translateY(85px);
    -webkit-transform:translateY(85px);
    transform:translateY(85px);

    -webkit-animation:come-in 1.2s ease-out forwards;
    -ms-animation:come-in 1.2s ease-out forwards;
    -o-animation:come-in 1.2s ease-out forwards;
    -moz-animation:come-in 1.2s ease-out forwards;
    animation:come-in 1.2s ease-out forwards;

    opacity: 0;
}

@-webkit-keyframes come-in {
    to {
        -webkit-transform:translateY(0);
        transform:translateY(0);
        opacity: 1;
    }
}

@-o-keyframes come-in {
    to {
        -o-transform:translateY(0);
        transform:translateY(0);
        opacity: 1;
    }
}

@-moz-keyframes come-in {
    to {
        -moz-transform:translateY(0);
        transform:translateY(0);
        opacity: 1;
    }
}

@-ms-keyframes come-in {
    to {
        -ms-transform:translateY(0);
        transform:translateY(0);
        opacity: 1;
    }
}


@keyframes come-in{
    to{
        transform:translateY(0);
        opacity: 1;
    }
}


#section2 h1, #section2 h3, #section2 p {
    position: relative;
    z-index: 20;
    display: block;
    text-align: left;
    top: 5%;
    left: 8%;
    color: #FFFFFF;
}

#section2 h1 {
    font-size: 5.2em;
    font-family: Graphik,Roboto;
    font-weight: 600;
}

#section2 h3 {
    font-size: 2.4em;
    font-family: Graphik,Roboto;
    font-weight: 600;
    top: 2%;
}

#section2 p {
    font-family: Graphik-Regular,Roboto;
    font-size: 1.5em;
    margin: 2% 0;
    font-weight: 400;
    line-height: 1.5em;
}